{% load static %}
{% block content %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Comentarios</h2>
            <p>Opiniones de los usuarios</p>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              {% for critica in criticas %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ critica.comentario }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="{% static 'assets/img/testimonials/perfil-user.png' %}" class="testimonial-img" alt="">
                  <h3>{{ critica.correo }}</h3>
                  <h4>Puntaje: {{ critica.puntaje }}</h4>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}
              
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
    </section><!-- End Testimonials Section -->
{% endblock %}