{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'header-directores.html' %}
    <!-- ======= Chefs Section ======= -->
    <section id="directores" class="chefs">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Directores</h2>
            <p>Mejores Directores y Directoras</p>
          </div>
  
          <div class="row">
            {% for director in directores %}
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  
                    <img src="{{ director.foto.url }}" class="img-fluid" alt="director-img">
                    <a href="{{ director.get_absolute_url }}">

                    <div class="member-info">
                      <div class="member-info-content">
                        <!--<h4>Walter White</h4>
                        <span>Director</span>-->
                        <h4>
                        {{ director.nombre }}
                        </h4>
                        <span>
                        {{ director.nacionalidad }}
                        </span>
                      </div>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                    </a>
                    
                  
               
              </div>
              
            </div>
            {% endfor %}
          </div>
  
        </div>
      </section><!-- End Chefs Section -->
{% endblock %}  