{% load static %}
{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <!--<h1 class="logo me-auto me-lg-0"><a href="#">MoviesCrit</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#" class="logo me-auto me-lg-0"><img src="{% static 'assets/img/Logo-Movie.jpeg' %}" alt="" class="img-fluid">MoviesCrit</a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#why-us">Películas</a></li>
          <li><a class="estrenos-a" href="http://127.0.0.1:8000/#events">Estrenos</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/actores/">Actores</a></li>
          <li><a class="nav-link scrollto active" href="#">Directores</a></li>
          <div class="input-group">
            <a class="nav-link scrollto" href="http://127.0.0.1:8000/directores/">
            <button type="button" class="btn btn-warning" id="btn-realizar-critica">
              Ver lista de Directores
            </button>
            </a>
          </div>
          <!--<div class="input-group">
            <div class="form-outline">
              <input id="search-focus" type="search" id="form1" class="form-control" />
            </div>
            <button type="button" class="btn btn-warning">
              <i class="fas fa-search">Buscar</i>
            </button>
          </div>-->
        </ul>
      </nav><!-- .navbar -->
      <!--<a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Críticas</a>-->

    </div>
  </header><!-- End Header -->
{% endblock %}