{% load static %}
{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <!--<h1 class="logo me-auto me-lg-0"><a href="#">MoviesCrit</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#" class="logo me-auto me-lg-0"><img src="{% static 'assets/img/Logo-Movie.jpeg' %}" alt="" class="img-fluid">MoviesCrit</a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#why-us">Películas</a></li>
          <li><a class="nav-link scrollto" href="#events">Estrenos</a></li>
          <li><a class="nav-link scrollto" href="actores">Actores</a></li>
          <li><a class="nav-link scrollto" href="directores">Directores</a></li>
          <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
              <div class="form-outline">
                {{form.nombre}}
              </div>
              <button type="submit" class="btn btn-warning">
                <i class="fas fa-search">Buscar</i>
              </button>
            </div>
          </form>
        </ul>
        
      </nav><!-- .navbar -->
      
      <!--<a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Críticas</a>-->

    </div>
  </header><!-- End Header -->
{% endblock %}