{% block content %}
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Películas</h2>
            <p>Selecciona una Película</p>
          </div>
  
          <div class="row">
            {% for pelicula in peliculas %}
            <div class="col-lg-3">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                
                  
                  <a href="{{pelicula.get_absolute_url}}"><img src="{{ pelicula.foto.url }}" class="img-fluid" alt="img-pelicula"></a>
                  <h4>
                  {{ pelicula.nombre }}
                  </h4>
                  <p>
                    <!--<li>{{ pelicula.resumen }}</li>
                    <li>{{ pelicula.año_realización }}</li>-->
                    Puntaje: {{ pelicula.estrella }}
                  </p>
                  
                <!--<span>01</span>
                <h4>Lorem Ipsum</h4>
                <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>-->
              </div>
            </div>
            {% endfor %}
          </div>
  
        </div>
    </section><!-- End Why Us Section -->
{% endblock %}